*{
    box-sizing: border-box;
}

.h-150 {
    min-height: 150px;
    border: 1px solid;
}

.h-50 {
    min-height: 50px;
    border: 1px solid;
}
.min-w {
    min-width: 575px;
}

.col-20 {
    flex: 0 0 20%;
    max-width: 20%;
}

.bg-yellow {
    background: #efef5a;
    border: 2px solid;
}

.bg-red {
    background: #fd7474;
}

li {
    list-style-type: square;
}